<link href="{{ url_for('static', path='css/watch.css') }}" rel="stylesheet">
<script src="/static/watch.js"></script>



<!-- Make sure ?enablejsapi=1 is on URL -->
<iframe width="1120" height="630" id="video" src="https://www.youtube.com/embed/{{ url }}?enablejsapi=1&html5=1&mute=1&controls=0" frameborder="0" allowfullscreen></iframe>


<div class="buttons">
  <!-- if we needed to change height/width we could use viewBox here -->
  <button class="button" id="play-button">Start</button>
  <button class="button" id="pause-button">Pause</button>
</div>
